select {
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #007BFF;
  appearance: none;
  background-color: #fff;
  font-size: 16px;
  max-width: 300px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  color: #333;

}


select:hover {
  border-color: #0056b3;

}


select:focus {
  outline: none;
  border-color: #003f80;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);

}


select {
  background-image: url('data:image/svg+xml;utf8,<svg fill="%230056b3" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 12px center;
  padding-right: 40px;

}